/web-app

/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/.link_to_grails_plugins
/target-eclipse

/stacktrace.log

# plugin release file
/*.zip
/plugin.xml

# "temporary" build files
/target

# other
*.iws